.pagination {
    position: relative;
    padding: 5px;
    display: flex;
    font-size: 1.8rem;
    flex-direction: column;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color_1;
        color: $color_2;
        border: none;
        transition: all 0.3s;

        &:hover {
            color: $color_3;
            font-weight: bold;
        }
    }

    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        align-self: center;
        color: $color_1;
        border-radius: 50%;
        border: none;

        &:hover {
            cursor: pointer;
            border: 2px solid $color_1;
        }
    }

    &__dropdown {
        width: 150px;
        font-size: 1.2rem;
        position: absolute;
        bottom: 100%;
        background-color: $color_1;
        color: $color_2;
        border-radius: 20px;
        border: 2px solid $color_2;
    }

    &__item-dropdown {
        display: flex;
        justify-content: center;
        padding: 2px;

        &:hover {
            cursor: pointer;
            color: $color_3;
        }
    }
}
